.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    /* background-color: #333; Add background color */
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav {
    display: flex;
    gap: 15px; /* Changed from margin to gap for spacing */
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }
  
  /* .nav a:hover {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
  } */
  
  .dropdownnav {
    position: relative;
  }
  
  .dropdown-content-user {
    display: none;
    position: absolute;
    background-color: #5f5757;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content-user a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content-user a:hover {
    background-color: #444;
  }
  
  .dropdownnav:hover .dropdown-content-user {
    display: block;
  }
  